body {
    background-color: #F2E7D2;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ea8494;
}

.titre {
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("Images/Index/site1.png");
}

.titre img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    object-position: top center;
}
.galerie {
    padding: 50px;
}

.galerie-titre {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Combo', serif;
    color : #6AADA7;
    font-size: 30px; 
}

.galerie-grid {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: nowrap; 
}
