body {
  background-color: #F2E7D2;
  margin: 0;
  padding: 0;
}

header {
  height:96vh;
  background: url("Images/Index/site1.png") no-repeat top center / cover;
  color: white;
  position: relative;
}

/* Conteneur du contenu */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

/* NAV */
nav a {
  color: white;
  text-decoration: none;
}

/* SECTIONS (espacement global propre) */
section {
  padding: 60px 20px;
}

/* GALERIE */
.galerie {
  background-color:#B4DCED;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2px;
  gap: 40px;
}

/* TITRE */
.galerie-titre {
  text-align: center;
  font-family: 'Combo', serif;
  color: #6AADA7;
  font-size: 2.5rem; /* plus responsive */
}

/* GRID IMAGES */
.galerie-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;      /* important pour responsive */
  gap: 40px;            /* réduit et flexible */
}

/* IMAGES */
.galerie-grid img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* BOUTON */
.btn {
  background-color: #ea8494;
  color: white;
  font-family: 'Nunito', sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: #c90b5e;
}
