body {
    background-color: #2D2B3B;
}

main {
    padding: 20px;
}

.box {
  border: 2px dotted rgb(96 139 168);
  display: flex;
}

h2{
  font-family: 'Outfit', serif;
    color: #CC8AE3;
    font-size: 30px;  
    text-align: center;
}

h3{
    font-family: 'Outfit', serif;
    color: white;
    font-size: 18px;  
    display: flex;
    align-items: center; 
}

.btn {
  background-color: #ea8494;
  color: white;
  font-family: 'Nunito', sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: #c90b5e;
}
    
