body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
	scroll-snap-type: y mandatory;
    background-color: #2E4152;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 15px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

header h1{
    font-size: 25px;            
    font-family: 'Cinzel Decorative', serif;
    margin: 0;                  
}

header a {
    color: inherit;
    text-decoration: none;
}

header a:hover{
    color: #FFC942; 
}

nav a {
    font-size: 15px;             
    font-family: 'Combo', sans-serif;
    color: white;
    margin-right: 50px;
    text-decoration: none;
    transition: all 0.3s ease; 
}
nav a:last-child {
    margin-right: 0;     
}

nav a:hover {
    color: #FFC942; 
}

main {
    padding: 0px;
}


.texte {
    max-width: 500px;
}

.bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-intro {
    background-image: url("Images/Jeux/background_intro.png");
}

.section-cluedo {
    background-image: url("Images/Jeux/background_cluedo.jpg");
}

.bloc p {
    max-width: 300px;
    color: white;
}

.bloc h2 {
    font-size: 30px;             
    font-family: 'Limelight', sans-serif;
    color: white;
}

