body {
  background: #eee;
  font-family: Arial, sans-serif;
  background-image: url("Images/Patterns/Pattern_stella2(04.08.21).png");
  background-repeat: repeat; /* 🔁 motif */
  background-attachment: fixed;
}

.container {
  width: 1000px;
  margin: auto;
  background: #1E2329;
}

/* HEADER */
.header {
  background: #BC9ADB;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 8px 15px; 
  align-items: center;
}

.header h1 {
  font-size: 16px; 
  letter-spacing: 1px;
  margin: 0;
}

/* MAIN */
.main {
  display: flex;
  padding: 15px;
}

/* LEFT */
.left {
  width: 30%;
}

.left img {
  width: 100%;
  border-radius: 5px;
}

.info p {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
  margin: 0; 
}

.info {
  background: #3A3445;
  margin-top: 10px;
  padding: 5px 10px; 
  font-size: 14px;
}
.info p:last-child {
  border-bottom: none; 
}

/* RIGHT */
.right {
  width: 70%;
  padding-left: 15px;
  position: relative;
}

.about {
  background: #3A3445;
  padding: 15px;
  height:290px;
  overflow:auto;
  color: white;
}

.about h3 {
  margin-top: 0; 
}

.side-character {
  position: absolute;
  right: 10px;
  top: 20px;
  height: 200px;
}

/* TABS */
.tabs {
  display: flex;
  background: #BC9ADB;
  margin: 15px 0;
}

.tabs span {
  flex: 1;
  text-align: center;
  padding: 10px;
  color: white;
}

/* GALLERY */
.gallery {
  display: flex;
  gap: 10px;
}

.gallery img {
  width: 25%;
  border-radius: 5px;
}

/* FOOTER */
.footer {
  background: #BC9ADB;
  color: white;
  text-align: center;
  padding: 15px;
  font-style: italic;
}