main {
    padding: 0px;
}

body {
    background-color: #C0D9B4;
}

.titre {
    background-color: #C0D9B4;
    height: 200px;
    text-align: center;
    font-family: "WindSong", cursive;
    font-size: 35px;  
    color: #422354;
}

.galerie {
     margin-top: 0px;
    background-color: #D9B9ED;
}

.poupees {
    background-color: #FFFEF5;
}

.wave-top svg,
.wave-bottom svg {
  display: block;
  width: 100%;
  height: 100px;
}

/* couleur des vagues */
.wave-top path,
.wave-bottom path {
  fill: #D9B9ED; /* couleur de ton fond global */
}

/* position */
.wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.wave-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

