body {
    margin: 0;
    font-family: Arial, sans-serif;
	scroll-snap-type: y mandatory;
    background-color: #2E4152;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 15px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

header h1{
    font-size: 25px;            
    font-family: 'Cinzel Decorative', serif;
    margin: 0;                  
}

header a {
    color: inherit;
    text-decoration: none;
}

header a:hover{
    color: #FFC942; 
}

nav a {
    font-size: 15px;             
    font-family: 'Combo', sans-serif;
    color: white;
    margin-right: 50px;
    text-decoration: none;
    transition: all 0.3s ease; 
}
nav a:last-child {
    margin-right: 0;     
}

nav a:hover {
    color: #FFC942; 
}

main {
    padding: 20px;
}

.presentation {
    display: flex;              /* active Flexbox */
    align-items: center;        /* aligne verticalement */
    gap: 20px;                  /* espace entre image et texte */
}

.presentation img {
    width: 200px;               /* taille de l'image */
    height: auto;
}

.paragraphe1 {
    display: flex;              /* active Flexbox */
    align-items: center;        /* aligne verticalement */
    gap: 20px;                  /* espace entre image et texte */
	scroll-snap-align : center;
 height: calc(100vh - 20px);
}

.paragraphe1 img {
    width: 300px;               /* taille de l'image */
    height: auto;
}

.texte {
    max-width: 500px;
}
