main {
    padding: 0px;
}

body {
    background-color: #C0D9B4;
}

.titre {
    background-color: #C0D9B4;
    height: 300px;
    text-align: center;
    font-size: 35px;    
}

.galerie {
     margin-top: 0px;
    background-color: #D9B9ED;
}

.poupees {
    background-color: #FFFEF5;
}
