main {
    padding: 0px;
}

body {
    background-color: #C0D9B4;
}

.titre {
    background-color: #C0D9B4;
}

.galerie {
    background-color: #D9B9ED;
}

.poupees {
    background-color: #FFFEF5;
}
