body {
    margin: 0;
    background-color: #F2E7D2;
    position: relative;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 125px;

    background-image: url("Images/Charlie/site5.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 0;
    pointer-events: none;
}

header,
.box {
    position: relative;
    z-index: 1;
}

nav a {
    color: white;
}

/* CONTENEUR PRINCIPAL */
main {
    margin-top: 70px;
}

.box {
    display: flex;
    align-items: flex-start;
    gap: 100px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}


/* GALERIE CHARLIE */
.galeriecharlie {
    margin-left: 250px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 60px; /* espace horizontal */
    row-gap: 20px;    /* espace vertical */
}

/* Images */
.galeriecharlie img {
    height: 200px;
    width: auto;
    display: block;
    transition: transform 0.3s ease;
}

.galeriecharlie img:hover {
    transform: scale(1.05);
}



/* Image du haut centrée */
.galeriecharlie a:nth-child(1) {
    grid-column: 1 / 3;
    justify-self: center;
}

/* Zone texte */
.texte {
    flex: 1;
    min-width: 400px;
}

.texte img {
    margin-left:10px;
    width: 220px;
    height: auto;
}
/* BOUTON */
.btn {
    margin-left:150px;
    background-color: #F0375B;
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
}

.btn:hover {
    background-color: #B5122E;
}
