body {
    background-color: #2D2B3B;
}

main {
    padding: 20px;
}

h2{
  font-family: 'Outfit', serif;
    color: #CC8AE3;
    font-size: 25px;  
    display: flex;
    align-items: center; 
}

h3{
    font-family: 'Outfit', serif;
    color: white;
    font-size: 10px;  
    display: flex;
    align-items: center; 
}
    
