body {
  background-image: url("../Images/Patterns/PatternKaoda(16.06.26).png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 1000px;
}
.site-header::before,
.site-header::after {
    background-color:  #70BCA8;
}
.character-card {
	background: #E8DCE1;
}

.character-card__header {
  background: #3EB595;
}

.character-card__info-wrapper {
  background: #D9B2C1;
}

.character-card__info-tab {
	border: 1px solid #50A693;
}

.character-card__info-tab:hover {
  background: #50A693;
}

.character-card__info-tab.active {
  background: #50A693;
}

.character-card__about {
  background: #D9B2C1;
}

.character-card__tabs {
	background: #70BCA8;
}

.character-card__tab.active {
  background: #50A693;
}

.character-card__footer {
  background: #70BCA8;
}

.gallery--character {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 1100px;
    margin: 20px auto 60px auto;
    padding: 0 20px;
}

.gallery--character img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    border-radius: 0;
}

header {
    color:#BA2B43;
}

nav a {
    color:#5C0F1E;
}
