body {
  background-image: url("../Images/Patterns/Pattern_Pollux2(05.08.21).png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 1000px;
}

.site-header::before,
.site-header::after {
    background-color: #E595F5; /* couleur souhaitée */
}

.character-card__header {
  background: #BB4DF0;
}

.character-card__info-wrapper {
  background: #fcedca;
}

.character-card {
  background: #FFDFDE;
}

.character-card__info-tab {
	border: 1px solid #BB4DF0;
}

.character-card__info-tab:hover {
  background: #BB4DF0;
}

.character-card__info-tab.active {
  background: #BB4DF0;
}

.character-card__about {
  background: #fcedca;
}

.character-card__tabs {
	background: #E595F5;
}

.character-card__tab.active {
  background: #BB4DF0;
}

.character-card__footer {
  background: #E595F5;
}

.gallery--character {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 1100px;
    margin: 20px auto 60px auto;
    padding: 0 20px;
}

.gallery--character img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    border-radius: 0;
}
