body {
  background-image: url("../Images/Patterns/PatternGyulladt(16.06.26).png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 1000px;
}
.site-header::before,
.site-header::after {
    background-color: #695647; 
}

.character-card__header {
  background: #d6431e;
}

.character-card__info-wrapper {
  background: #594F4F;
}

.character-card__info-tab {
	border: 1px solid #B36E47;
}

.character-card__info-tab:hover {
  background: #B36E47;
}

.character-card__info-tab.active {
  background: #B36E47;
}

.character-card__about {
  background: #594F4F;
}

.character-card__tabs {
	background: #C96442;
}

.character-card__tab.active {
  background: #A64826;
}

.character-card__footer {
  background: #B36E47;
}

.gallery--character {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 1100px;
    margin: 20px auto 60px auto;
    padding: 0 20px;
}

.gallery--character img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    border-radius: 0;
}
