body {
  background-image: url("../Images/Patterns/Pattern.Armanti(12.06.25).png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 1000px;
}

.character-card__header {
  background: #918247;
}

.character-card__info-wrapper {
  background: #363328;
}

.character-card__info-tab {
	border: 1px solid #918247;
}

.character-card__info-tab:hover {
  background: #918247;
}

.character-card__info-tab.active {
  background: #918247;
}

.character-card__about {
  background: #363328;
}

.character-card__tabs {
	background: #918247;
}

.character-card__tab.active {
  background: #736630;
}

.character-card__footer {
  background: #918247;
}

.gallery--character {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 1100px;
    margin: 20px auto 60px auto;
    padding: 0 20px;
}

.gallery--character img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    border-radius: 0;
}